<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog!</h1>
      <p class="lead">This is a simple blog page for my Ruby class.</p>
      <hr class="my-4">
      <p>It uses simple database to track blog entrys.</p>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg"  %>
    </div>
  </div>
</div>



