<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright: 2020 &copy; <%=link_to "Sound Webvertising", "http://soundwebvertising.com", class: "text-white" %> </small>
  </div>
</footer>